@import url('https://fonts.google.com/specimen/Poppins#standard-styles');
body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {

    border: solid 4px blue;
}


.container-fluid .row{
    border: solid 4px black;
}

#statusCard {
    width: 125px;
    height: 200px;
    background-color: teal;
    margin: 20px;
}