@import url('https://fonts.google.com/specimen/Poppins#standard-styles');
body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 0;
    border: solid 4px blue;
}


.container-fluid .row{
    border: solid 4px red;
    margin: 10px 0px;
    background-color: rgb(221, 230, 235);
}

#statusRow {
    border: solid 4px black;
    
}

#statusCard {
    width: 125px;
    height: 200px;
    background-color: teal;
    margin: 20px;
}